# .gitignore for my config dir.
# An * ensures that everything will be ignored.
# *
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

# Ignored folders!!
# Ignore Python bytecode and cache

#config/devices
#__pycache__
#helpers/__pycache__
__pycache__/
*.py[cod]
*.pyo
*.pyd

# I want these files ignored!!
secrets.yaml
custom_components/tuya_cloud_custom/secrets.yaml
custom_components/tuya_cloud_custom/tuya_token.json
#custom_components/tuya_cloud_custom/config/devices/*.*
todo

# Ignore virtual environments (common names)
env/
venv/
.venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore backups or temp files
*.bak
*.swp
*.tmp